@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@layer utilities {
  p {
    @apply text-header-gray;
  }

  .scroll_none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scroll_none::-webkit-scrollbar {
    display: none;
  }

  .website_container {
    @apply bg-header-yellow cursor-pointer px-10 py-10 sm:px-12 sm:py-12 md:px-14 md:py-14 overflow-hidden flex justify-center items-center rounded-xl relative;
  }

  .website_box {
    @apply h-full w-full bg-gray-500 absolute px-2 flex flex-col items-center justify-center;
  }
  .website_text {
    @apply text-sm lg:text-lg text-center h-full text-white;
  }
}
.flip-card {
  background-color: white;
  width: 18em;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: #fff;
  transform: rotateX(180deg);
}
@media screen and (min-width: 640px) {
  .flip-card {
    background-color: transparent;
    width: 20em;
    height: 300px;
    perspective: 1000px;
  }
}
@media screen and (min-width: 768px) {
  .flip-card {
    background-color: transparent;
    width: 11em;
    height: 290px;
  }
}

@media screen and (min-width: 1024px) {
  .flip-card {
    width: 15em;
    height: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .flip-card {
    width: 13em;
    height: 300px;
  }
}

@media screen and (min-width: 1281px) {
  .right__slider {
    right: 20%;
  }
}

.next__btn {
}
.prev__btn {
}
.swiper-slide {
  height: 200px !important;
}
